* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero-btn {
    font-size: 1rem;
    padding: 12px 24px;
    border: 2px solid #000;
    box-shadow: 2px 2px 0 0 #EFEFEF, 4px 4px 0 0 #000;
    margin-top: 20px;
    transition-duration: 200ms;
}

.hero-btn:hover {
    box-shadow: 3px 3px 0 0 #EFEFEF, 6px 6px 0 0 #000;
    transform: translate(-2px, 2px);
}
